In [4]:
from fastText import tokenize, load_model

In [5]:
model = load_model("./wiki.en.bin")

In [6]:
import pandas as pd

In [53]:
df1 = pd.read_csv("./grantnav-20180526072920.csv",encoding='utf-8')

/home/paperspace/anaconda3/envs/fastai/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8,10,13,19,20,21,23,24,25,31,34,35,36,37,38,39,40,41,42,43,44,45,46,47,49,50,51,53,54,55,57,58,59,61,62,63,65,66,67) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Titles aren't that useful, a lot of them are garbled.

In [35]:
# titles = [title for title in df.Title.unique() if isinstance(title,str)]
import re
# Cleaning Text
descs = [desc.encode('ascii',errors='ignore').decode('utf-8') for desc in df.Description.unique() if isinstance(desc,str)]
# Strip all hex 
desc_string = ' '.join(descs)
from nltk.corpus import stopwords
stop_words = stopwords.words('english')
desc_tokens = tokenize(desc_string)
desc_tokens = [word.lower() for word in desc_tokens if (word.isalpha() and word.lower() not in stop_words)]

In [37]:
desc_tokens = list(set(desc_tokens))

In [51]:
# title_bow = list(set([word.lower() for word in tokenize(' '.join(titles)) if len(word)>1]))
# desc_bow = list(set([word.lower() for word in tokenize(' '.join(descs)) if len(word)>1]))

In [39]:
# Title_bow_vectors = [model.get_word_vector(word) for word in title_bow]
Desc_bow_vectors = [model.get_word_vector(word) for word in desc_tokens]

In [60]:
[word for word in descs if 'Qumran' in word]

["The key goals of my research project will be (1) to explore the context of the Dead Sea as a place of healing resources in antiquity through a careful examination of literary data and on-site archaeological observation, (2) to consider healing as it is evidenced in the Dead Sea Scrolls and (3) to re-evaluate the archaeology of the site of Qumran in terms of what it may suggest for the processing of pharmacological products (e.g. date honey, opobalsam) and the use of balneology (curative bathing). This research will be written up as a book, contracted already with Oxford University Press. The basis for the exploration is the comments made by Josephus (War 2: 136) that the Essenes were interested in 'roots, remedies and the properties of stones'  and that they kept safe 'the names of the angels' (War 2: 142), angelic names being used in Judaism to counter illness-causing demons (Test. Sol. 5: 4-5). Both Pliny (c.78 CE) and Dio Chrysostom (c.90 CE) note Essenes proximate to the Dead Sea."]

In [41]:
from sklearn.cluster import KMeans
%matplotlib inline

In [61]:
clusterer = KMeans(n_clusters=100, n_init=10)

In [62]:
clusterer.fit(Desc_bow_vectors)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=100, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [59]:
# df1 = df1.fillna('')
df1[df1['Description'].str.contains('Qumran')]

,Identifier,Title,Description,Currency,Amount Applied For,Amount Awarded,Amount Disbursed,Award Date,URL,Planned Dates:Start Date,...,Data Source,Publisher:Name,Recipient Region,Recipient District,Recipient District Geographic Code,Recipient Ward,Recipient Ward Geographic Code,Retrieved for use in GrantNav,License (see note),"Note, this file also contains OS data © Crown copyright and database right 2016, Royal Mail data © Royal Mail copyright and Database right 2016, National Statistics data © Crown copyright and database right 2015 & 2016, see http://grantnav.threesixtygiving.org/datasets/ for more information."
43940,360G-Wellcome-087558_Z_08_Z,The Dead Sea Essenes and Ancient Healing,The key goals of my research project will be (...,GBP,,5100.0,,2008-10-21T00:00:00+00:00,,2009-01-01T00:00:00+00:00,...,https://wellcome.ac.uk/sites/default/files/wel...,Wellcome Trust,,,,,,2018-05-04T19:53:52+00:00,https://creativecommons.org/licenses/by/4.0/,

In [66]:
df = pd.DataFrame(list(zip(desc_tokens, Desc_bow_vectors,clusterer.labels_)),columns = ['word', 'vector','label'])

In [67]:
df.groupby('label').count()

       word  vector
label
0       593     593
1       371     371
2       542     542
3       261     261
4       508     508
5       408     408
6       910     910
7       619     619
8       882     882
9       787     787
10      516     516
11      524     524
12      426     426
13      522     522
14     1186    1186
15     1240    1240
16      647     647
17      976     976
18     1127    1127
19     1847    1847
20      505     505
21      534     534
22      411     411
23      659     659
24     1598    1598
25      355     355
26      751     751
27      537     537
28     1162    1162
29      877     877
...     ...     ...
70      815     815
71     1544    1544
72      877     877
73     1350    1350
74      729     729
75      407     407
76      515     515
77      720     720
78      458     458
79     1297    1297
80      545     545
81      291     291
82      498     498
83      456     456
84      459     459
85      463     463
86      366     366
87     2338    2338
88      529     529
89      596     596
90      442     442
91      801     801
92      840     840
93      353     353
94      666     666
95      464     464
96      732     732
97      415     415
98      709     709
99      363     363

[100 rows x 2 columns]

In [69]:
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer(smooth_idf=False)

In [72]:
from textblob import TextBlob as tb
def tf(word, blob):
    return blob.words.count(word) / len(blob.words)

def n_containing(word, bloblist):
    return sum(1 for blob in bloblist if word in blob.words)

def idf(word, bloblist):
    return math.log(len(bloblist) / (1 + n_containing(word, bloblist)))

def tfidf(word, blob, bloblist):
    return tf(word, blob) * idf(word, bloblist)

In [ ]:
for i, desc in descs

# Things to try next
 - Clean text a little, remove special characters, stop words
 - TF-IDF to find important words only, vectorize and cluster those
 - PCA + HDBScan